<p id="notice"><%= notice %></p>

<p>
  <strong>Course_ID:</strong>
  <%= @course.course_id %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @course.course_title %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @course.topic %>
</p>

<p>
  <strong>Day length:</strong>
  <%= @course.day_length %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<p>
  <strong>Level:</strong>
  <%= @course.level_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category %>
</p>

<%= button_to('Delete course', @course, class: "delete_btn", method: :delete, data: {confirm: 'Are you sure to delete the course?', \
  cancel: 'cancel', commit: 'yes'}, title: 'Delete Confirm') %>
<%= link_to 'Back', courses_path, class: "back_btn"  %> 
<%= link_to 'Edit', edit_course_path(@course), class: "edit_btn" %> 

<!--%= link_to 'Delete', course_path(@course), method: :delete, data: {confirm: "Are you sure?"} %-->
